.project-title {
  font-size: var(--lg);
}

.project-container {
  display: flex;
  flex-direction: column;
}

.project1-container,
.project2-container,
.project3-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.project-data {
  padding: 5px;
}

.project-rol {
  padding-bottom: 5px;
  color: var(--text-color);
  font-size: var(--sm);
}

.project-description {
  text-align: justify;
  color: var(--text-color);
  font-size: var(--sm);
}

.project-link {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: var(--sm);
}

.project-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.technology-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-list-image-container,
.task-search-image-container,
.task-add-image-container,
.list-products-image-container,
.shopping-cart-image-container {
  border: 4px solid var(--border-color);
}

.technologies-icon-container {
  display: flex;
  gap: 10px;
}

@media (min-width: 500px) {
  .project1-container,
  .project2-container,
  .project3-container {
    align-items: start;
  }
  .project-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .technology-container {
    align-items: start;
  }
}
